.mainContent {
    width: 82%;
    height: 100%;
    padding: 2rem;
    overflow: auto;
}

.mainContent .bottom {
    margin-top: 2rem;
    gap: 2rem;
    align-items: flex-start;
}

/* media query */
@media screen and (max-width: 918px) {
    .mainContent .bottom {
        flex-direction: column;
    }
}

@media screen and (max-width: 725px) {

}

@media screen and (max-width: 490px) {

}

@media screen and (max-width: 390px) {
    
}